@font-face {
  font-family: "Actay";
  src: url(fonts/Actay-Regular.otf);
}

@font-face {
  font-family: "Inter";
  src: url(fonts/Inter_18pt-Regular.ttf);
}

* {
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
  font-family: "Actay";
}

body {
  position: relative;
  min-height: 100vh;
  height: 100%;
  margin: 0;
}

body::before {
  content: "";
  position: fixed;
  inset: 0;
  z-index: -1;

  background-image:
    linear-gradient(180deg,
      rgba(0, 0, 0, 0.6) 0%,
      rgba(0, 0, 0, 0.3) 70%),
    url("images/background.webp");

  background-position: center;
  background-repeat: no-repeat;
  background-size: 140%;

  filter: blur(3px);
  transform: scale(1.03);
}

a {
  text-decoration: none;
}

.list-reset {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.container {
  max-width: 1180px;
  padding: 0 20px;
  margin: 0 auto;
}


:root {
  --wh: #fff;
  --whop: rgba(255, 255, 255, 0.3);
  --bl: #000000;
  --gr: rgba(94, 118, 0, 1);
}


/* header */
.header {
  position: relative;
  padding: 32px 0 40px 0;
}

.header__container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header__block {
  display: flex;
  align-items: center;
  gap: 50px;
}

.header__brand {
  display: flex;
  flex-direction: column;
  text-decoration: none;
  transition: .3s ease;
}

.header__brand:hover {
  opacity: 0.7;
}

.header__brand_title {
  font-weight: 700;
  font-size: 32px;
  letter-spacing: 2.4px;
  color: var(--wh);
  line-height: 1;
}

.header__nav {
  display: flex;
  align-items: center;
}

.header__menu {
  display: flex;
  gap: 40px;
}

.header__menu_link {
  position: relative;

  font-weight: 400;
  font-size: 20px;
  letter-spacing: 0;
  color: var(--wh);
  text-decoration: none;
  transition: 0.3s ease;
}

.header__menu_link:hover {
  opacity: 0.7;
}

.header__menu_link::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -3px;
  width: 100%;
  height: 1px;
  background-color: var(--wh);
  transform: scaleX(0);
  transform-origin: left;
  transition: transform 0.3s ease;
}

.header__menu_link:hover::after {
  transform: scaleX(1);
}

.header__action {
  display: flex;
  align-items: center;
  gap: 24px;
  text-decoration: none;
  color: var(--wh);
  font-weight: 400;
  font-size: 20px;
  letter-spacing: 0;
  position: relative;
  transform: translateY(-2px);
  transition: .3s ease;
}

.header__action::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0px;
  width: 100%;
  height: 1px;
  background-color: var(--wh);
}

.header__action:hover {
  opacity: 0.7;
}

.header__action_icon {
  transform: translateY(-1px);
}

.header__action_text {
  font-weight: 400;
  font-size: 20px;
  letter-spacing: 0;
  text-transform: uppercase;
}

/* sec */
.sec {
  padding-bottom: 60px;
}

.sec__container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.sec__heading {
  margin: 0;
  margin-bottom: 48px;

  font-weight: 700;
  font-size: 90px;
  letter-spacing: 5.5px;
  color: var(--wh);
  text-align: center;

  line-height: 100%;
}

.sec__map {
  position: relative;
  width: 100%;
  height: 500px;

  margin-bottom: 7px;
}

.sec__road {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: auto;
  pointer-events: none;
  z-index: 0;
}

.sec__road--1 {
  width: 210px;
  left: 2%;
  top: 21%;
}

.sec__road--2 {
  left: 22%;
  top: 67%;
  width: 200px;
  height: 167px;
}

.sec__road--3 {
  left: 40.3%;
  top: 42%;
  width: 210px;
}

.sec__road--4 {
  left: 52%;
  top: 15%;
  width: 289px;
}

.sec__road--5 {
  left: 77.2%;
  top: 25%;
  width: 263px;
}

.sec__point {
  position: absolute;
}

.sec__point--1 {
  left: 0%;
  top: 4.5%;
}

.sec__point--2 {
  left: 6.8%;
  top: 54%;
}

.sec__point--3 {
  left: 37.5%;
  top: 73%;
}

.sec__point--4 {
  left: 31.1%;
  top: 27%;
}

.sec__point--5 {
  left: 73.6%;
  top: 13%;
}

.sec__point--6 {
  left: 61.4%;
  top: 44%;
}

.sec__card {
  position: relative;

  display: flex;
  align-items: center;

  gap: 10px;
  padding: 12px 12px 10px 12px;
  width: 100%;
  max-width: 286px;

  border: 3px solid var(--wh);
  border-radius: 35px 0 35px 0;

  background: rgba(255, 255, 255, 0.18);
  backdrop-filter: blur(12px);
  -webkit-backdrop-filter: blur(12px);
}

.sec__card::before {
  content: "";
  position: absolute;
  inset: -6px;

  background: rgba(255, 255, 255, 0.2);
  border-radius: inherit;

  filter: blur(5px);
  z-index: -1;
}

.sec__card::after {
  content: "";
  position: absolute;
  right: -35px;
  top: -24px;
  width: 50px;
  height: 62px;
  background-image: url(images/marker.svg);
  background-repeat: no-repeat;
  background-size: contain;
}


.sec__badge {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;

  width: 51px;
  height: 51px;
  background: var(--gr);
  border: 1px solid var(--wh);
  border-radius: 50%;

  color: var(--wh);
  font-size: 35px;
  line-height: 0;
  padding-top: 5px;
}

.sec__text {
  margin: 0;
  flex: 1;
  color: rgba(246, 255, 210, 1);

  font-weight: 400;
  font-size: 14px;
  letter-spacing: 0;
}


.btn {
  display: inline-flex;
  align-items: center;
  justify-content: center;

  padding: 10px 78px;
  border-radius: 999px;

  background-color: var(--wh);
  color: var(--bl);

  font-family: "Inter";
  font-size: 24px;
  font-weight: 400;
  letter-spacing: 0;

  border: 2px solid var(--wh);
  cursor: pointer;
  transition: 0.3s ease;
}

.btn:hover {
  background-color: transparent;
  color: var(--wh);
}

.btn:active {
  background-color: transparent;
  color: var(--wh);
  transform: translateY(1px);
}

/* modal */
.modal {
  position: fixed;
  inset: 0;
  display: none;
  z-index: 1000;

  padding: 30px;
  overflow: hidden;

  opacity: 0;
  visibility: hidden;
  transition: 0.3s ease;
}

.modal.is-open {
  display: flex;
  align-items: center;
  justify-content: center;

  opacity: 1;
  visibility: visible;
}

.modal__overlay {
  position: fixed;
  inset: 0;
  background: rgba(0, 0, 0, 0.55);
}

.modal__content {
  display: flex;
  flex-direction: column;
  position: relative;

  width: 993px;
  max-width: 100%;
  max-height: calc(100vh - 60px);

  padding: 95px 61px;
  border-radius: 36px;

  background: var(--wh);
  border: 2px solid rgba(255, 255, 255, 0.6);
  overflow: hidden;

  transform: scale(0.96);
  transition: 0.3s ease;

  z-index: 1;
}

.modal.is-open .modal__content {
  transform: scale(1);
}

.modal__close {
  position: absolute;
  right: 17px;
  top: 20px;

  width: 65px;
  height: 65px;

  display: flex;
  align-items: center;
  justify-content: center;

  border: none;
  background: transparent;

  font-size: 40px;
  line-height: 1;
  cursor: pointer;
  transition: 0.3s ease;
}

.modal__close:hover {
  opacity: 0.65;
}

.modal__body {
  width: 100%;
  flex: 1 1 auto;
  overflow-y: auto;

  padding-right: 18px;
  scrollbar-gutter: stable;
  box-sizing: content-box;

  scrollbar-width: thin;
  scrollbar-color: rgba(0, 0, 0, 0.55) rgba(0, 0, 0, 0.12);
  scrollbar-gutter: stable both-edges;
}


.modal__text {
  margin: 0;
  font-family: "Inter";
  font-weight: 400;
  font-size: 20px;
  line-height: 140%;
  text-align: center;
}


/* burger */
.header__burger {
  display: none;
  width: 44px;
  height: 44px;
  border: none;
  background: transparent;
  cursor: pointer;
  transition: 0.3s ease;
}

.header__burger_line {
  display: block;
  width: 26px;
  height: 2px;
  background: #ffffff;
}

.header__burger_line+.header__burger_line {
  margin-top: 6px;
}

.header__burger:hover {
  opacity: 0.7;
}

.mobile_menu {
  position: fixed;
  inset: 0;
  z-index: 1200;

  opacity: 0;
  visibility: hidden;
  transition: 0.3s ease;
}

.mobile_menu.is-open {
  opacity: 1;
  visibility: visible;
}

.mobile_menu__overlay {
  position: absolute;
  inset: 0;
  background: rgba(0, 0, 0, 0.55);
}

.mobile_menu__panel {
  display: flex;
  flex-direction: column;
  align-items: center;

  position: absolute;
  left: 0;
  top: 0;
  width: 100%;

  background: var(--wh);
  padding: 30px 15px 30px;
  transform: translateY(-110%);
  transition: 0.3s ease;
}

.mobile_menu.is-open .mobile_menu__panel {
  transform: translateY(0);
}

.mobile_menu__close-block {
  display: flex;
  align-items: center;
  gap: 5px;
}

.mobile_menu__close {
  padding: 0;
  width: 40px;
  height: 40px;

  border: none;
  background: transparent;
  font-size: 30px;
  cursor: pointer;
  transition: 0.3s ease;
}

.mobile_menu__close:hover {
  opacity: 0.7;
}

.mobile_menu__list {
  margin-top: 18px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 12px;
}

.mobile_menu__link {
  font-weight: 400;
  font-size: 14px;
  color: var(--bl);
  text-decoration: none;
  transition: 0.3s ease;
}

.mobile_menu__link:hover {
  opacity: 0.7;
}

.mobile_menu__action_text {
  font-weight: 400;
  font-size: 14px;
  line-height: 46%;
  letter-spacing: 0;
  text-transform: uppercase;
}

.mobile_menu__action {
  display: inline-flex;
  align-items: center;
  gap: 50px;

  margin-top: 27px;
  font-weight: 400;
  font-size: 18px;
  color: var(--bl);
  text-decoration: none;
  position: relative;
  transition: 0.3s ease;
}

.mobile_menu__heading {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.mobile_menu__heading .header__brand_title {
  color: rgba(242, 243, 239, 1);
}

.mobile_menu__action::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0px;
  width: 100%;
  height: 1px;
  background: #111111;
  opacity: 0.6;
}

.mobile_menu__action:hover {
  opacity: 0.75;
}

.sec__controls {
  max-width: 290px;
  width: 100%;

  display: none;
  align-items: center;
  justify-content: space-between;
  gap: 5px;
  margin: 0;
  margin-top: 8px;
  margin-bottom: 65px;
}

.cont {
  display: flex;
  gap: 5px;
  align-items: center;
  justify-content: center;
}

.sec__control_btn {
  display: flex;
  gap: 11px;
  align-items: center;
  justify-content: center;

  border: none;
  background: transparent;
  color: rgba(255, 255, 255, 0.85);
  padding: 0;
  cursor: pointer;
  transition: 0.3s ease;
}

.sec__control_btn:hover {
  opacity: 0.7;
}

.sec__control_text {
  font-family: "Actay";
  font-weight: 400;
  font-size: 14px;
  line-height: 130%;
  letter-spacing: 0;
  font-weight: 400;
  font-size: 14px;
  color: rgba(255, 255, 255, 0.75);
  text-transform: lowercase;
}