@font-face {
  font-family: "Actay";
  src: url(fonts/Actay-Regular.otf);
}

@font-face {
  font-family: "Inter";
  src: url(fonts/Inter_18pt-Regular.ttf);
}

* {
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
  font-family: "Actay";
}

body {
  min-height: 100vh;
  height: 100%;
  margin: 0;
  background-image: url(images/background.webp);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  backdrop-filter: blur(3px)
}

a {
  text-decoration: none;
}

.list-reset {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.container {
  max-width: 1180px;
  padding: 0 20px;
  margin: 0 auto;
}


:root {
  --wh: #fff;
  --whop: rgba(255, 255, 255, 0.3);
  --bl: #000000;
  --gr: rgba(94, 118, 0, 1);
}


/* header */
.header {
  padding: 32px 0 40px 0;
}

.header__container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header__block {
  display: flex;
  align-items: center;
  gap: 50px;
}

.header__brand {
  display: flex;
  flex-direction: column;
  text-decoration: none;
  transition: .3s ease;
}

.header__brand:hover {
  opacity: 0.7;
}

.header__brand_title {
  font-weight: 700;
  font-size: 32px;
  letter-spacing: 2.4px;
  color: var(--wh);
  line-height: 1;
}

.header__nav {
  display: flex;
  align-items: center;
}

.header__menu {
  display: flex;
  gap: 40px;
}

.header__menu_link {
  position: relative;

  font-weight: 400;
  font-size: 20px;
  letter-spacing: 0;
  color: var(--wh);
  text-decoration: none;
  transition: 0.3s ease;
}

.header__menu_link:hover {
  opacity: 0.7;
}

.header__menu_link::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -3px;
  width: 100%;
  height: 1px;
  background-color: var(--wh);
  transform: scaleX(0);
  transform-origin: left;
  transition: transform 0.3s ease;
}

.header__menu_link:hover::after {
  transform: scaleX(1);
}

.header__action {
  display: flex;
  align-items: center;
  gap: 24px;
  text-decoration: none;
  color: var(--wh);
  font-weight: 400;
  font-size: 20px;
  letter-spacing: 0;
  position: relative;
  transform: translateY(-2px);
  transition: .3s ease;
}

.header__action::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0px;
  width: 100%;
  height: 1px;
  background-color: var(--wh);
}

.header__action:hover {
  opacity: 0.7;
}

.header__action_icon {
  transform: translateY(-1px);
}

.header__action_text {
  font-weight: 400;
  font-size: 20px;
  letter-spacing: 0;
  text-transform: uppercase;
}

/* sec */
.sec {
  padding-bottom: 60px;
}

.sec__container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.sec__heading {
  margin: 0;
  margin-bottom: 48px;

  font-weight: 700;
  font-size: 90px;
  letter-spacing: 5.5px;
  color: var(--wh);
  text-align: center;

  line-height: 100%;
}

.sec__map {
  width: 100%;
  position: relative;
  height: 500px;

  margin-bottom: 7px;
}

.sec__point {
  position: absolute;
}

.sec__point--1 {
  left: 0%;
  top: 4.5%;
}

.sec__point--2 {
  left: 6.8%;
  top: 54%;
}

.sec__point--3 {
  left: 37.5%;
  top: 73%;
}

.sec__point--4 {
  left: 31.1%;
  top: 27%;
}

.sec__point--5 {
  left: 73.6%;
  top: 13%;
}

.sec__point--6 {
  left: 61.4%;
  top: 44%;
}

.sec__card {
  position: relative;

  display: flex;
  align-items: center;

  gap: 10px;
  padding: 12px 12px 10px 12px;
  width: 100%;
  max-width: 286px;

  border: 3px solid var(--wh);
  border-radius: 35px 0 35px 0;
  background: var(--whop);
}

.sec__card::after {
  content: "";
  position: absolute;
  right: -27px;
  top: -20px;

  width: 40px;
  height: 60px;

  background-image: url("images/marker.svg");
  background-repeat: no-repeat;
  background-size: contain;
}


.sec__badge {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;

  width: 51px;
  height: 51px;
  background: var(--gr);
  border: 1px solid var(--wh);
  border-radius: 50%;

  color: var(--wh);
  font-size: 35px;
  font-weight: 700;
  line-height: 0;
}

.sec__text {
  margin: 0;
  flex: 1;
  color: rgba(246, 255, 210, 1);

  font-weight: 400;
  font-size: 14px;
  letter-spacing: 0;
}

.btn {
  display: inline-flex;
  align-items: center;
  justify-content: center;

  padding: 11px 78.5px;
  border-radius: 999px;
  border: none;

  background-color: #ffffff;
  color: #111111;

  font-family: Inter;
  font-weight: 400;
  font-size: 26px;
  letter-spacing: 0;
  font-style: Regular;
  cursor: pointer;
  transition: 0.3s ease;
}